@media only screen and (min-width: 700px) {
body section#Projects{
        display: inline;
        
    }   

    body section#WorkExperience{
        display: inline;
            }   

    section#Projects #PortPiece1
{
     margin: 0px auto;
     padding: 2%;
     font-size: 9pt; 
     font-family: helvetica;
     width: 25%;
     height: 5%;
     display: inline-block;
     border: 2px solid black;

}


section#WorkExperience #PortPiece1
{
     margin: 0px auto;
     padding: 2%;
     font-size: 9pt; 
     font-family: helvetica;
     width: 25%;
     height: 5%;
     display: inline-block;
     border: 2px solid black;

}

body button#ProjectsButton{
        display: none;
  }
 
  #AboutMeImage
  {
      margin: 10px;
           padding: 10px;
      position: relative;
       
           max-width: 90%;
            max-height: 90%;
       display: table-cell;
       vertical-align: middle; 
  }

}
 
  nav#navbar{ 
    margin: auto;
    width: 100%;
    padding: 1%;
    position: sticky;
    top: 0;
    background-color:black;
    height: 5%;
    text-align: center;
    box-shadow: 3px 3px 10px grey;
    z-index: 10;    
    }    


body{
    background-color:#666666;
    font-family: Helvetica;
}

.welcome-section{
    margin: auto;
    padding: 1%;
    position: relative;
    background-color: rgb(109, 109, 109);
    background-repeat: no-repeat;
    height: 40vh;
    text-align: center;
    font-size: 1.5em;
}

#BioSection{
    background-color:white;
    width:100%;
    margin: auto;
    margin-top: 0;
    height: auto;
    padding: 3%;
    display: flex;
    flex-direction: row;
    }



    #Contact{
        background-color:white;
        width:100%;
        margin: auto;
        margin-top: 0;
        height: auto;
        padding: 3%;
        display: block;
        text-align: left;
    }

#ContactForm{
    background-color:white;
    width:100%;
    margin: auto;
    margin-top: 0;
    height: auto;
    padding: 3%;
    display: inline;
    align-content: center;
    text-align: center;
    font-size: .8em;
    }
#ContactForm textarea{
    width:100%
}

#AboutMeImage, #AboutMeText{
    margin: auto;
}

button#ProjectsButton{
    background-color:rgb(105, 105, 105);
    width: 100vw;
    box-sizing: 100%;
    margin: auto;
    margin-top: 0;
    height: 3%;
    padding: 3%;
    display: block;
    text-align: center;
    align-content: center;
    color: white;
    font-size: 1.5em;
    }

#Projects{
    background-color:rgb(105, 105, 105);
    width: 100vw;
    box-sizing: 100%;
    margin: auto;
    margin-top: 0;
    height: 3%;
    padding: 3%;
    display:none;
    text-align: center;
    align-content: center;
    color: white;
    font-size: 1.5em;

}    

#WorkExperience{
    background-color:rgb(168, 168, 168);
    width: 100vw;
    box-sizing: 100%;
    margin: auto;
    margin-top: 0;
    height: 3%;
    padding: 3%;
    display:none;
    text-align: center;
    align-content: center;
    color: white;
    font-size: 1.5em;

}    

 
#navbartext, #footertext{
         color: #FFFFFF;
         text-decoration: none;
         margin: auto;
         position: relative;
         font-family: Helvetica;
         font-size: 1.5em;
         padding: 1%;
    }

    a{
        color: #FFFFFF;
         text-decoration: none;
         font-family: Helvetica;
         font-size: 1.5em;
    }

    a#profile-link, a#portfolioLinks{
        background-color: black;
        padding: 1%;
        display: inline-block;
    }

   

    #PortPiece1
{
     margin: 0px auto;
     padding: 2%;
     font-size: 9pt; 
     font-family: helvetica;
     width: 25%;
     height: 5%;
     display: block;
     border: 2px solid black;

}